@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

.description {
  padding: 2%;
}

.description  > span.title {
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

.description > span.details {
  margin-top: 1rem;
  display: block;
}

.direction {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.opentimes {
  display: flex;
  align-items: center;
}

.opentimes > ul {
  list-style: none;
}

